[Desktop Entry]
Version=1.0
Type=Application
Name=XFreeRDP GUI
GenericName=XFreeRDP GUI
Comment=GUI for XFreeRDP
Exec=xfreerdp-gui
Icon=computer-symbolic
Terminal=false
X-MultipleArgs=false
Categories=Utility;
Actions=saved;latest;recent;
X-KDE-SubstituteUID=false

[Desktop Action saved]
Exec=xfreerdp-gui --saved
Name=Choose from saved

[Desktop Action latest]
Exec=xfreerdp-gui --latest
Name=Run recently saved

[Desktop Action recent]
Exec=xfreerdp-gui --recent
Name=Run recently used
